<section class="container">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      {{#each articles}}
        <div class="carousel-item {{#if @first}}active{{/if}}">
          <a href="{{preview.url}}"><img
              class="d-block w-100 h-50"
              src="{{preview.images}}"
              alt="First slide"
            /></a>
        </div>
      {{/each}}
    </div>
  </div>
</section>

