<section class="contact">
  <div>
    <h2>Contact Me</h2>
  </div>
  <div>
    <p>
      Feel free to reach out if you have any qestions or concerns
    </p>
    <address>
      P:714-585-9510<br />
      E:<a href="mailto:slorreina369@gmail.com">slorreina369@gmail.com</a>
    </address>
  </div>
</section>