
{{>carousel-display articles=articles}}

<section class="about">
  <h2>Know Your Enemy</h2>

  <p>
    Reagan Sucks is a website that has been created after looking at policies that
    frustrate many people and noticing one common denominator; Ronald Reagan. 
    While praised for being the great communicator, there has been a growing 
    number of retrospective criticism regarding his views and policies that were 
    pushed by his administration. Reaganism.Sucks works to collect articles written regarding 
    this new information to provide people a quick and easy way to learn about these
    policies. Our goal is to educate and inform the public about the various ways in 
    which Reaganism has had a lasting and damaging effect on our country. <br>
  </p>

  <p>
    The goal is for Reaganism.Sucks to be a collective effort, so if you feel that
    there is an article that we're missing, please feel free to contact us and submit
    the article for consideration. If we review your article and find that it is sufficiently
    derogatory towards Ronald Reagan, then we will approve it and let you know. <br>
  </p>

  <p>
    If you are a Ronald Reagan fan and you feel the need to tell me why, please use
    our contact form. If you feel the need to be hateful, please feel free to leave
    and enjoy your life however you choose to. <br>
  </p>
</section>