<ol class="queue-list">
  {{#each queues}}
    <li>
      <article class="queue">
        <div class="title">
          <a href="{{article_url}}" target="_blank">{{title}}</a>
          <span>({{article_url}})</span>
        </div>
      </article>
    </li>
  {{/each}}
</ol>