* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e7dfd8;
  --secondary-color: black;
  --tertiary-color: gray;
}

body {
  background-color: var(--primary-color);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 2px var(--tertiary-color);
  margin: 0 1vw;
}
header a {
  color: var(--secondary-color);
  font-family: "Times New Roman", Times, serif;
}
header nav ul {
  list-style: none;
}
header nav li {
  display: inline-block;
  margin: 0 3vw;
  font-size: 30px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}

.container {
  vertical-align: middle;
  padding: 5vw 0;
}
.carousel {
  border: solid 3px var(--secondary-color);
}
.about {
  margin: 0 5vw;
  text-align: center;
}
